<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.7MinutesWorkout"
        tools:targetApi="31">
        <activity
            android:name=".HistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.7MinutesWorkout"/>
        <!-- TODO(Step 15.3 : Modifying the BMI calculator activity attributes.) -->
        <!-- START -->
        <activity
            android:name=".BMIActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.7MinutesWorkout" /> <!-- TODO(13.2 - Update the activity attribute as per requirement. -->
        <!--
This tag is already added by default when you create an activity along with the layout file.
        You just need to add some extra attribute as per requirement.
        -->
        <activity
            android:name=".FinishActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.7MinutesWorkout" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.7MinutesWorkout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- TODO(Step 2.2 - This is added by Default when you can create new Activity and can be modified as per your requirement.) -->
        <activity
            android:name=".ExerciseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.7MinutesWorkout" />
    </application>

</manifest>